html {
    position: relative !important;
    min-height: 100% !important;
}

body {
    margin: 0 0 85px !important;
}

.map-widget {
    width: 100%;
    min-height: 200px;
}

#data-page-main-container section:nth-child(n+1) {
    margin-top: 15px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f8f8f8;
}

.footer-credentials {
    padding-top: 4px;
    padding-bottom: 4px;
}

