@import java.util
@(centerLong: Double, centerLat: Double)(geometries: util.Collection[String])
@* Section for the map view of geometries. *@
<div id="map-w" class="col-xs-12 map-widget"></div>
@* Javascript managing the variables for displaying the geometry (special, not to cache)*@
<script type="text/javascript">
        var mapInfo = new FinderMapInformation({
                    'long':@centerLong.toString,
                    'lat':@centerLat.toString
                },
                [@Html(geometries.map(geometry => "\""+geometry+"\"").mkString(","))]);
</script>
@* Generic code for presenting the given geometries. *@
<script type="text/javascript">
        var features = mapInfo.transformGeometriesToFeatures();
        var mapWidget = new ol.Map({
            target: 'map-w',
            layers: [
                new ol.layer.Tile({
                    source: new ol.source.OSM()
                }),
                new ol.layer.Vector({
                    source: new ol.source.Vector({
                        features: features
                    })
                })
            ],
            view: new ol.View({
                center: ol.proj.fromLonLat([mapInfo.center['long'], mapInfo.center['lat']]),
                zoom: 18
            })
        });
        @* Centers the map widget to the geometry of the first feature. *@
        if (features.length > 0) {
            mapWidget.getView().fit(features[0].getGeometry(), mapWidget.getSize(), {'maxZoom': 18});
        }
</script>
