@import java.util.Collection
@import at.ac.tuwien.finder.dto.rdf.Property
@import at.ac.tuwien.finder.dto.rdf.IResourceIdentifier
@(properties: Collection[Property])

<div class="col-xs-12">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Property</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            @for(property <- properties) {
                <tr>
                    <th><a href="@property.rawIRI()">@property.toString</a></th>
                    <th>
                    @if(property.getValues.size == 1) {
                        @property.getValues.get(0) match {
                            case _ : IResourceIdentifier => {<a href="@property.getValues.get(0).asInstanceOf[IResourceIdentifier].rawIRI">@property.getValues.get(0)</a>}
                            case _ => {@property.getValues.get(0)}
                        }
                    } else {
                        <ul>
                        @for(vObject <- property.getValues) {
                            <li>
                            @vObject match {
                                case _ : IResourceIdentifier => {<a href="@vObject.asInstanceOf[IResourceIdentifier].rawIRI">@vObject</a>}
                                case _ => {@vObject}
                            }
                            </li>
                        }
                        </ul>
                    }
                    </th>
                </tr>
            }
        </tbody>
    </table>
</div>

