@import at.ac.tuwien.finder.dto.rdf.IResource
@import at.ac.tuwien.finder.dto.{ExceptionResourceDto, ResourceDto}
@(path: String)(resourceDto: ResourceDto)

<div class="container-fluid">
    <div class="row">
        <h1>About: <a href="@resourceDto.getIRI">@resourceDto.getLabel()</a></h1>
        <div class="page-subheader">
            Entity of type: @for(resource <- resourceDto.getTypes) {
            @resource match {
                case _: IResource => { <a href="@resource.asInstanceOf[IResource].getIRI">@resource</a> }
                case _ => { @resource }
            },
        }
        </div>
    </div>
    @if(resourceDto.getDescription() != null) {
        <div class="row">
        @resourceDto match {
            case _: ExceptionResourceDto => {
                <div class="alert alert-danger" role="alert">
                    <p class="lead">@resourceDto.getDescription()</p>
                </div>
            }
            case _ => { <p class="lead">@resourceDto.getDescription()</p> }
        }
        </div>
    }
    <div class="row">
    @propertyTable(resourceDto.getProperties)
    </div>
</div>
