@import at.ac.tuwien.finder.dto.{CollectionDto}
@import at.ac.tuwien.finder.dto.rdf.Resource
@import at.ac.tuwien.finder.dto.rdf.IResource
@(path: String)(collectionDto: CollectionDto[Resource])

@basic(collectionDto.getLabel()) {
    @HtmlFormat.empty
} {
    @HtmlFormat.empty
} {
    <div class="container-fluid">
        <div class="row">
            <h1>Bag: <a href="@collectionDto.getIRI">@collectionDto.getLabel()</a></h1>
        </div>
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Resource</th>
                    </tr>
                </thead>
                <tbody>
                    @for((entry, count) <- collectionDto.asList().zipWithIndex){
                        <tr>
                            <th>@count</th>
                            <th>
                                @entry match {
                                    case _ : IResource => { <a href="@entry.asInstanceOf[IResource].getIRI">@entry</a> }
                                    case _  => { @entry }
                                }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
