@import at.ac.tuwien.finder.dto.rdf.IResourceIdentifier
@import at.ac.tuwien.finder.dto.{ExceptionResourceDto, ResourceDto, FeatureDto, GeometryDto}
@import java.util
@(path: String)(resourceDto: ResourceDto)

<section id="resource-header-section" class="row">
    <div class="col-xs-12">
        <h1>About: <a href="@resourceDto.getIRI">
        @if(resourceDto.getLabel() != null && resourceDto.getLabel.length > 0){
            @resourceDto.getLabel()
        } else {
            @resourceDto
        }
        </a>
        </h1>
        <div class="page-subheader"> Entity of type: @for(resource <- resourceDto.getTypes) {
            @resource match {
                case _: IResourceIdentifier => { <a href="@resource.asInstanceOf[IResourceIdentifier].rawIRI">@resource</a> }
                case _ => { @resource }
            },
        }
        </div>
    </div>
</section>
@if(resourceDto.isInstanceOf[FeatureDto] || resourceDto.isInstanceOf[GeometryDto]) {
    <section id="map-view-section" class="row">
            @if(resourceDto.isInstanceOf[FeatureDto]){
                @mapWidget(geometries = resourceDto.asInstanceOf[FeatureDto].getGeometryShapes.map(geometryShape => geometryShape.asWKT()).asJavaCollection)
            }
            @if(resourceDto.isInstanceOf[GeometryDto]) {
                @mapWidget(util.Arrays.asList(resourceDto.asInstanceOf[GeometryDto].asWKT()))
            }
    </section>
}
@if(resourceDto.getDescription() != null) {
    <section id="error-message-section" class="row">
        @resourceDto match {
            case _: ExceptionResourceDto => {
                <div class="alert alert-danger" role="alert">
                    <p class="lead">@resourceDto.getDescription()</p>
                </div>
            }
            case _ => { <p class="lead">@resourceDto.getDescription()</p> }
        }
    </section>
}
<section id="property-table-section" class="row">
    @propertyTable(resourceDto.getProperties)
</section>

